@model Restaurant.ViewModels.SystemSettingViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="SystemSetting">System Setting</a></li>
            <li class="breadcrumb-item active">Create</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div class="row mb-3 d-flex justify-content-center">
                            <div class="col-sm-2 text-center">
                                <label asp-for="UploadLogo" class="col-sm-12 text-center col-form-label">
                                    <img id="Logo" src="~/Admin/assets/img/not-found.svg" class="img img-fluid border border-2 border-dark rounded-3 p-5" width="300" />
                                </label>
                                <input asp-for="UploadLogo" hidden onchange="loadFile(event,'#Logo')" class="form-control" />
                            </div>
                            <div class="col-sm-2 text-center">
                                <label asp-for="UploadLogo2" class="col-sm-12 text-center col-form-label">
                                    <img id="Logo2" src="~/Admin/assets/img/not-found.svg" class="img img-fluid border border-2 border-dark rounded-3 p-5" width="300" />
                                </label>
                                <input asp-for="UploadLogo2" hidden onchange="loadFile(event,'#Logo2')" class="form-control" />
                            </div>
                            <div class="col-sm-2 text-center">
                                <label asp-for="UploadImage" class="col-sm-12 text-center col-form-label">
                                    <img id="image" src="~/Admin/assets/img/not-found.svg" class="img img-fluid border border-2 border-dark rounded-3 p-5" width="300" />
                                </label>
                                <input asp-for="UploadImage" hidden onchange="loadFile(event,'#image')" class="form-control" />
                            </div>
                            <div class="col-sm-2 text-center">
                                <label asp-for="UploadImage2" class="col-sm-12 text-center col-form-label">
                                    <img id="image2" src="~/Admin/assets/img/not-found.svg" class="img img-fluid border border-2 border-dark rounded-3 p-5" width="300" />
                                </label>
                                <input asp-for="UploadImage2" hidden onchange="loadFile(event,'#image2')" class="form-control" />
                            </div>
                            <div class="col-sm-2 text-center">
                                <label asp-for="UploadImage3" class="col-sm-12 text-center col-form-label">
                                    <img id="image3" src="~/Admin/assets/img/not-found.svg" class="img img-fluid border border-2 border-dark rounded-3 p-5" width="300" />
                                </label>
                                <input asp-for="UploadImage3" hidden onchange="loadFile(event,'#image3')" class="form-control" />
                            </div>
                            <div class="col-sm-2 text-center">
                                <label asp-for="UploadImage4" class="col-sm-12 text-center col-form-label">
                                    <img id="image4" src="~/Admin/assets/img/not-found.svg" class="img img-fluid border border-2 border-dark rounded-3 p-5" width="300" />
                                </label>
                                <input asp-for="UploadImage4" hidden onchange="loadFile(event,'#image4')" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="UploadLogo" class="col-sm-2 text-center col-form-label"></label>
                            <label asp-for="UploadLogo2" class="col-sm-2 text-center col-form-label"></label>
                            <label asp-for="UploadImage" class="col-sm-2 text-center col-form-label"></label>
                            <label asp-for="UploadImage2" class="col-sm-2 text-center col-form-label"></label>
                            <label asp-for="UploadImage3" class="col-sm-2 text-center col-form-label"></label>
                            <label asp-for="UploadImage4" class="col-sm-2 text-center col-form-label"></label>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="row mb-3">
                                    <label asp-for="SystemSettingId" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="SystemSettingId" readonly class="form-control" />
                                        <span asp-validation-for="SystemSettingId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row mb-3">
                                    <label asp-for="SystemSettingCopyright" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="SystemSettingCopyright" class="form-control" />
                                        <span asp-validation-for="SystemSettingCopyright" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="row mb-3">
                                    <label asp-for="SystemSettingWelcomeNoteTitle" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="SystemSettingWelcomeNoteTitle" class="form-control" />
                                        <span asp-validation-for="SystemSettingWelcomeNoteTitle" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row mb-3">
                                    <label asp-for="SystemSettingWelcomeNoteUrl" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="SystemSettingWelcomeNoteUrl" class="form-control" />
                                        <span asp-validation-for="SystemSettingWelcomeNoteUrl" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="row mb-3">
                                    <label asp-for="SystemSettingWelcomeNoteBreif" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <textarea asp-for="SystemSettingWelcomeNoteBreif" class="form-control">
                                        </textarea>
                                        <span asp-validation-for="SystemSettingWelcomeNoteBreif" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row mb-3">
                                    <label asp-for="SystemSettingWelcomeNoteDesc" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <textarea asp-for="SystemSettingWelcomeNoteDesc" class="form-control">
                                        </textarea>
                                        <span asp-validation-for="SystemSettingWelcomeNoteDesc" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="row mb-3">
                                    <label asp-for="SystemSettingMapLocation" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-10">
                                        <input asp-for="SystemSettingMapLocation" class="form-control" />
                                        <span asp-validation-for="SystemSettingMapLocation" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12 d-inline-flex justify-content-end">
                                <a asp-action="Index" class="btn btn-success btn-backtolist">Back to List</a>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

