@model Restaurant.ViewModels.MasterPartnerViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="MasterPartner">Partner</a></li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div class="row mb-3 d-flex justify-content-center">
                            <div class="col-sm-12 text-center">
                                <label asp-for="UploadLogo" class="col-sm-12 text-center col-form-label">
                                    @if (string.IsNullOrEmpty(Model.MasterPartnerLogoImageUrl))
                                    {
                                        <img asp-for="UploadImage" id="MasterPartnerImg" src="~/Admin/assets/img/not-found.svg" class="img img-fluid border border-2 border-dark rounded-3 p-5" width="300" />
                                    }
                                    else
                                    {
                                        <img asp-for="UploadImage" id="MasterPartnerImg" src="~/images/partner/@Model.MasterPartnerLogoImageUrl" class="img img-fluid border border-2 border-dark rounded-3 p-5" width="300" />
                                    }
                                </label>
                                <input asp-for="UploadLogo" hidden onchange="loadFile(event,'#MasterPartnerImg')" class="form-control" />
                                <input asp-for="MasterPartnerLogoImageUrl" hidden class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="UploadLogo" class="col-sm-12 text-center col-form-label"></label>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="row mb-3">
                                    <label asp-for="MasterPartnerId" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="MasterPartnerId" readonly class="form-control" />
                                        <span asp-validation-for="MasterPartnerId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="row mb-3">
                                    <label asp-for="MasterPartnerName" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="MasterPartnerName" class="form-control" />
                                        <span asp-validation-for="MasterPartnerName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="row mb-3">
                                    <label asp-for="MasterPartnerWebsiteUrl" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="MasterPartnerWebsiteUrl" class="form-control" />
                                        <span asp-validation-for="MasterPartnerWebsiteUrl" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-12 d-inline-flex justify-content-end">
                                <a asp-action="Index" class="btn btn-success btn-backtolist">Back to List</a>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

