@model Restaurant.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Admin/Views/Shared/_AccountLayout.cshtml";
}

<div class="pt-4 pb-2">
    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
    <p class="text-center small">Enter your personal details to create account</p>
</div>
<form asp-action="Register" class="row g-3">
    <div class="col-12">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="col-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary w-100" type="submit">Create Account</button>
    </div>
    <div class="col-12">
        <p class="small mb-0">Already have an account? <a asp-action="Login">Log in</a></p>
    </div>
</form>

